<html lang="ko">


    <div class="relative w-full max-w-[448px] ">
        <img src="/assets/images/jujangso/report/2_1.png" class="w-full h-auto object-cover"/>
    </div>

    <div class="relative w-full max-w-[448px] ">
        <img src="/assets/images/jujangso/report/2_2.png" class="w-full h-auto object-cover"/>
        <div class="absolute top-[4.4%] left-[40%] w-[60%] min-h-[4rem] flex flex-col items-center justify-center">
            <p class="font-gyeonggibatangbold text-lg">자네 생년월일이</p>
            <p class="font-gyeonggibatangbold text-lg"><%= userInfo.birthdate.slice(0,4) %>년 <%= userInfo.birthdate.slice(4,6) %>월 <%= userInfo.birthdate.slice(6,8) %>일</p>
            <p class="font-gyeonggibatangbold text-lg">이라고 했지?</p>
        </div>
        <div class="absolute top-[28%] left-[40%] w-[60%] min-h-[4rem] flex flex-col items-center justify-center" style="padding-top: 7px;">
            <p class="font-gyeonggibatangbold text-lg">이게 자네의 사주라네</p>
        </div>

        <!-- 십성 1열-->
        <div class="absolute top-[51%] left-[24%] w-[15%] min-h-[4rem] flex flex-col items-center justify-center" style="padding-left: 2px;">
            <p class="font-gyeonggibatangbold text-[clamp(18px,4.5vw,20px)]"><%= sampleInfo.tenGodTable.data?.[0]?.[0] || ''; %></p>
        </div>
        <div class="absolute top-[57%] left-[24%] w-[15%] min-h-[4rem] flex flex-col items-center justify-center" style="padding-left: 2px;">
            <p class="font-gyeonggibatangbold text-[24px]"><%= sampleInfo.tenGodTable.data?.[0]?.[1] || ''; %></p>
        </div>
        <div class="absolute top-[64.5%] left-[24%] w-[15%] min-h-[4rem] flex flex-col items-center justify-center" style="padding-left: 2px;">
            <p class="font-gyeonggibatangbold text-[24px]"><%= sampleInfo.tenGodTable.data?.[0]?.[2] || ''; %></p>
        </div>
        <div class="absolute top-[71%] left-[24%] w-[15%] min-h-[4rem] flex flex-col items-center justify-center" style="margin-top: 1px; padding-left: 2px;">
            <p class="font-gyeonggibatangbold text-[clamp(18px,4.5vw,20px)]"><%= sampleInfo.tenGodTable.data?.[0]?.[3] || ''; %></p>
        </div>
        <div class="absolute top-[75.5%] left-[24%] w-[15%] min-h-[4rem] flex flex-col items-center justify-center" style="margin-top: 1px; padding-left: 2px;">
            <p class="font-gyeonggibatangbold text-[clamp(18px,4.5vw,20px)]"><%= sampleInfo.tenGodTable.data?.[0]?.[4] || ''; %></p>
        </div>
        <div class="absolute top-[80.2%] left-[24%] w-[15%] min-h-[4rem] flex flex-col items-center justify-center" style="margin-top: 1px; padding-left: 2px;">
            <p class="font-gyeonggibatangbold text-[clamp(18px,4.5vw,20px)]"><%- (sampleInfo.tenGodTable.data?.[0]?.[5] || '').match(/.{1,2}/g)?.join('<br/>') %></p>
        </div>
        <div class="absolute top-[85.3%] left-[24%] w-[15%] min-h-[4rem] flex flex-col items-center justify-center" style="margin-top: 1px; padding-left: 2px;">
            <p class="font-gyeonggibatangbold text-[clamp(18px,4.5vw,20px)]"><%- (sampleInfo.tenGodTable.data?.[0]?.[6] || '').match(/.{1,2}/g)?.join('<br/>') %></p>
        </div>

        <!-- 십성 2열 -->
        <div class="absolute top-[51%] left-[42%] w-[15%] min-h-[4rem] flex flex-col items-center justify-center">
            <p class="font-gyeonggibatangbold text-[clamp(18px,4.5vw,20px)]"><%= sampleInfo.tenGodTable.data?.[1]?.[0] || ''; %></p>
        </div>
        <div class="absolute top-[57%] left-[42%] w-[15%] min-h-[4rem] flex flex-col items-center justify-center">
            <p class="font-gyeonggibatangbold text-[24px]"><%= sampleInfo.tenGodTable.data?.[1]?.[1] || ''; %></p>
        </div>
        <div class="absolute top-[64.5%] left-[42%] w-[15%] min-h-[4rem] flex flex-col items-center justify-center">
            <p class="font-gyeonggibatangbold text-[24px]"><%= sampleInfo.tenGodTable.data?.[1]?.[2] || ''; %></p>
        </div>
        <div class="absolute top-[71%] left-[42%] w-[15%] min-h-[4rem] flex flex-col items-center justify-center">
            <p class="font-gyeonggibatangbold text-[clamp(18px,4.5vw,20px)]"><%= sampleInfo.tenGodTable.data?.[1]?.[3] || ''; %></p>
        </div>
        <div class="absolute top-[75.5%] left-[42%] w-[15%] min-h-[4rem] flex flex-col items-center justify-center">
            <p class="font-gyeonggibatangbold text-[clamp(18px,4.5vw,20px)]"><%= sampleInfo.tenGodTable.data?.[1]?.[4] || ''; %></p>
        </div>
        <div class="absolute top-[80.2%] left-[42%] w-[15%] min-h-[4rem] flex flex-col items-center justify-center">
            <p class="font-gyeonggibatangbold text-[clamp(18px,4.5vw,20px)]"><%- (sampleInfo.tenGodTable.data?.[1]?.[5] || '').match(/.{1,2}/g)?.join('<br/>') %></p>
        </div>
        <div class="absolute top-[85.3%] left-[42%] w-[15%] min-h-[4rem] flex flex-col items-center justify-center">
            <p class="font-gyeonggibatangbold text-[clamp(18px,4.5vw,20px)]"><%- (sampleInfo.tenGodTable.data?.[1]?.[6] || '').match(/.{1,2}/g)?.join('<br/>') %></p>
        </div>

        <!-- 십성 3열 -->
        <div class="absolute top-[51%] left-[59%] w-[15%] min-h-[4rem] flex flex-col items-center justify-center" style="padding-left:5px">
            <p class="font-gyeonggibatangbold text-[clamp(18px,4.5vw,20px)]"><%= sampleInfo.tenGodTable.data?.[2]?.[0] || ''; %></p>
        </div>
        <div class="absolute top-[57%] left-[59%] w-[15%] min-h-[4rem] flex flex-col items-center justify-center" style="padding-left:5px">
            <p class="font-gyeonggibatangbold text-[24px]"><%= sampleInfo.tenGodTable.data?.[2]?.[1] || ''; %></p>
        </div>
        <div class="absolute top-[64.5%] left-[59%] w-[15%] min-h-[4rem] flex flex-col items-center justify-center" style="padding-left:5px">
            <p class="font-gyeonggibatangbold text-[24px]"><%= sampleInfo.tenGodTable.data?.[2]?.[2] || ''; %></p>
        </div>
        <div class="absolute top-[71%] left-[59%] w-[15%] min-h-[4rem] flex flex-col items-center justify-center" style="padding-left:5px">
            <p class="font-gyeonggibatangbold text-[clamp(18px,4.5vw,20px)]"><%= sampleInfo.tenGodTable.data?.[2]?.[3] || ''; %></p>
        </div>
        <div class="absolute top-[75.5%] left-[59%] w-[15%] min-h-[4rem] flex flex-col items-center justify-center" style="padding-left:5px">
            <p class="font-gyeonggibatangbold text-[clamp(18px,4.5vw,20px)]"><%= sampleInfo.tenGodTable.data?.[2]?.[4] || ''; %></p>
        </div>
        <div class="absolute top-[80.2%] left-[59%] w-[15%] min-h-[4rem] flex flex-col items-center justify-center" style="padding-left:5px">
            <p class="font-gyeonggibatangbold text-[clamp(18px,4.5vw,20px)]"><%- (sampleInfo.tenGodTable.data?.[2]?.[5] || '').match(/.{1,2}/g)?.join('<br/>') %></p>
        </div>
        <div class="absolute top-[85.3%] left-[59%] w-[15%] min-h-[4rem] flex flex-col items-center justify-center" style="padding-left:5px">
            <p class="font-gyeonggibatangbold text-[clamp(18px,4.5vw,20px)]"><%- (sampleInfo.tenGodTable.data?.[2]?.[6] || '').match(/.{1,2}/g)?.join('<br/>') %></p>
        </div>

        <!-- 십성 4열 -->
        <div class="absolute top-[51%] left-[77%] w-[15%] min-h-[4rem] flex flex-col items-center justify-center">
            <p class="font-gyeonggibatangbold text-[clamp(18px,4.5vw,20px)]"><%= sampleInfo.tenGodTable.data?.[3]?.[0] || ''; %></p>
        </div>
        <div class="absolute top-[57%] left-[77.5%] w-[15%] min-h-[4rem] flex flex-col items-center justify-center">
            <p class="font-gyeonggibatangbold text-[24px]"><%= sampleInfo.tenGodTable.data?.[3]?.[1] || ''; %></p>
        </div>
        <div class="absolute top-[64.5%] left-[77.5%] w-[15%] min-h-[4rem] flex flex-col items-center justify-center">
            <p class="font-gyeonggibatangbold text-[24px]"><%= sampleInfo.tenGodTable.data?.[3]?.[2] || ''; %></p>
        </div>
        <div class="absolute top-[71%] left-[77.5%] w-[15%] min-h-[4rem] flex flex-col items-center justify-center">
            <p class="font-gyeonggibatangbold text-[clamp(18px,4.5vw,20px)]"><%= sampleInfo.tenGodTable.data?.[3]?.[3] || ''; %></p>
        </div>
        <div class="absolute top-[75.5%] left-[77.5%] w-[15%] min-h-[4rem] flex flex-col items-center justify-center">
            <p class="font-gyeonggibatangbold text-[clamp(18px,4.5vw,20px)]"><%= sampleInfo.tenGodTable.data?.[3]?.[4] || ''; %></p>
        </div>
        <div class="absolute top-[80.2%] left-[77.5%] w-[15%] min-h-[4rem] flex flex-col items-center justify-center">
            <p class="font-gyeonggibatangbold text-[clamp(18px,4.5vw,20px)]"><%- (sampleInfo.tenGodTable.data?.[3]?.[5] || '').match(/.{1,2}/g)?.join('<br/>') %></p>
        </div>
        <div class="absolute top-[85.3%] left-[77.5%] w-[15%] min-h-[4rem] flex flex-col items-center justify-center">
            <p class="font-gyeonggibatangbold text-[clamp(18px,4.5vw,20px)]"><%- (sampleInfo.tenGodTable.data?.[3]?.[6] || '').match(/.{1,2}/g)?.join('<br/>') %></p>
        </div>
    </div>

    <div class="relative w-full max-w-[448px] mx-auto bg-[#f6f3ee]">
        <div class="absolute inset-0 border-[2px] border-black pointer-events-none z-10"></div>
        <div class="absolute top-[4px] left-[4px] right-[4px] bottom-[4px] border border-black pointer-events-none z-20"></div>

        <div class="relative z-30 p-6">
            <div class="font-gyeonggibatangbold text-[18px] leading-relaxed whitespace-pre-wrap"><%= reportInfo[1].content; %></div>
        </div>
    </div>

    <div class="relative w-full max-w-[448px] ">
        <img src="/assets/images/jujangso/report/2_3.png" class="w-full h-auto object-cover"/>
    </div>


</html>