<!DOCTYPE html>
<html lang="ko">
<%- include('./../../common/header') %>

<body>
   
<div class="flex flex-col w-full max-w-[480px] mx-auto">
    <div class="flex justify-center flex-col items-center mx-auto max-w-7xl">

        <%- include('./../../common/common') %>

        <div id="container">
            <div class="relative w-full max-w-[448px] mx-auto">
                <img src="/assets/images/tight/classic/result.png" class="w-full h-auto object-cover" />
                <div class="absolute top-[6.9%] left-[23%] w-[55%] min-h-[4rem] flex flex-col items-center justify-center">
                    <p class="font-gyeonggibatangbold text-[clamp(18px,4.5vw,20px)]"><%= userInfo.birthdate; %> <%= userInfo.birthtime; %></p>
                    <p class="font-gyeonggibatangbold text-[clamp(18px,4.5vw,20px)]">이제 <%= userInfo.name; %> 님의</p>
                    <p class="font-gyeonggibatangbold text-[clamp(18px,4.5vw,20px)]">사주 팔자를 풀어보겠소</p>
                </div>

                <div class="absolute top-[14.5%] left-[21%] w-[20%] min-h-[4rem] flex flex-col items-center justify-center">
                    <p class="text-[18px]"><%= userInfo.name; %></p>
                </div>

                <!-- 십성 컬럼 -->
                <div class="absolute top-[19.3%] left-[5%] w-[15%] min-h-[4rem] flex flex-col items-center justify-center">
                    <p class="font-gyeonggibatangbold text-white text-[clamp(18px,4.5vw,20px)]"><%= sample.tenGodTable.columns[0]; %></p>
                </div>
                <div class="absolute top-[20.9%] left-[5%] w-[15%] min-h-[4rem] flex flex-col items-center justify-center">
                    <p class="font-gyeonggibatangbold text-white text-[clamp(18px,4.5vw,20px)]"><%= sample.tenGodTable.columns[1]; %></p>
                </div>
                <div class="absolute top-[23.2%] left-[5%] w-[15%] min-h-[4rem] flex flex-col items-center justify-center">
                    <p class="font-gyeonggibatangbold text-white text-[clamp(18px,4.5vw,20px)]"><%= sample.tenGodTable.columns[2]; %></p>
                </div>
                <div class="absolute top-[24.8%] left-[5%] w-[15%] min-h-[4rem] flex flex-col items-center justify-center">
                    <p class="font-gyeonggibatangbold text-white text-[clamp(18px,4.5vw,20px)]"><%= sample.tenGodTable.columns[3]; %></p>
                </div>

                <!-- 십성 1열-->
                <div class="absolute top-[17.3%] left-[23%] w-[15%] min-h-[4rem] flex flex-col items-center justify-center">
                    <p class="font-gyeonggibatangbold text-white text-[clamp(18px,4.5vw,20px)]"><%= sample.tenGodTable.headerRows[0]; %></p>
                </div>
                <div class="absolute top-[19.3%] left-[23%] w-[15%] min-h-[4rem] flex flex-col items-center justify-center">
                    <p class="font-gyeonggibatangbold text-white text-[clamp(18px,4.5vw,20px)]"><%= sample.tenGodTable.data[0][0]; %></p>
                </div>
                <div class="absolute top-[20.9%] left-[23%] w-[15%] min-h-[4rem] flex flex-col items-center justify-center">
                    <p class="font-gyeonggibatangbold text-white text-[clamp(18px,4.5vw,20px)]"><%= sample.tenGodTable.data[0][1]; %></p>
                </div>
                <div class="absolute top-[23.2%] left-[23%] w-[15%] min-h-[4rem] flex flex-col items-center justify-center">
                    <p class="font-gyeonggibatangbold text-white text-[clamp(18px,4.5vw,20px)]"><%= sample.tenGodTable.data[0][2]; %></p>
                </div>
                <div class="absolute top-[24.8%] left-[23%] w-[15%] min-h-[4rem] flex flex-col items-center justify-center">
                    <p class="font-gyeonggibatangbold text-white text-[clamp(18px,4.5vw,20px)]"><%= sample.tenGodTable.data[0][3]; %></p>
                </div>

                <!-- 십성 2열-->
                <div class="absolute top-[17.3%] left-[41%] w-[15%] min-h-[4rem] flex flex-col items-center justify-center">
                    <p class="font-gyeonggibatangbold text-white text-[clamp(18px,4.5vw,20px)]"><%= sample.tenGodTable.headerRows[1]; %></p>
                </div>
                <div class="absolute top-[19.3%] left-[41%] w-[15%] min-h-[4rem] flex flex-col items-center justify-center">
                    <p class="font-gyeonggibatangbold text-white text-[clamp(18px,4.5vw,20px)]"><%= sample.tenGodTable.data[1][0]; %></p>
                </div>
                <div class="absolute top-[20.9%] left-[41%] w-[15%] min-h-[4rem] flex flex-col items-center justify-center">
                    <p class="font-gyeonggibatangbold text-white text-[clamp(18px,4.5vw,20px)]"><%= sample.tenGodTable.data[1][1]; %></p>
                </div>
                <div class="absolute top-[23.2%] left-[41%] w-[15%] min-h-[4rem] flex flex-col items-center justify-center">
                    <p class="font-gyeonggibatangbold text-white text-[clamp(18px,4.5vw,20px)]"><%= sample.tenGodTable.data[1][2]; %></p>
                </div>
                <div class="absolute top-[24.8%] left-[41%] w-[15%] min-h-[4rem] flex flex-col items-center justify-center">
                    <p class="font-gyeonggibatangbold text-white text-[clamp(18px,4.5vw,20px)]"><%= sample.tenGodTable.data[1][3]; %></p>
                </div>

                <!-- 십성 3열-->
                <div class="absolute top-[17.3%] left-[60%] w-[15%] min-h-[4rem] flex flex-col items-center justify-center">
                    <p class="font-gyeonggibatangbold text-white text-[clamp(18px,4.5vw,20px)]"><%= sample.tenGodTable.headerRows[2]; %></p>
                </div>
                <div class="absolute top-[19.3%] left-[60%] w-[15%] min-h-[4rem] flex flex-col items-center justify-center">
                    <p class="font-gyeonggibatangbold text-white text-[clamp(18px,4.5vw,20px)]"><%= sample.tenGodTable.data[2][0]; %></p>
                </div>
                <div class="absolute top-[20.9%] left-[60%] w-[15%] min-h-[4rem] flex flex-col items-center justify-center">
                    <p class="font-gyeonggibatangbold text-white text-[clamp(18px,4.5vw,20px)]"><%= sample.tenGodTable.data[2][1]; %></p>
                </div>
                <div class="absolute top-[23.2%] left-[60%] w-[15%] min-h-[4rem] flex flex-col items-center justify-center">
                    <p class="font-gyeonggibatangbold text-white text-[clamp(18px,4.5vw,20px)]"><%= sample.tenGodTable.data[2][2]; %></p>
                </div>
                <div class="absolute top-[24.8%] left-[60%] w-[15%] min-h-[4rem] flex flex-col items-center justify-center">
                    <p class="font-gyeonggibatangbold text-white text-[clamp(18px,4.5vw,20px)]"><%= sample.tenGodTable.data[2][3]; %></p>
                </div>

                <!-- 십성 4열-->
                <div class="absolute top-[17.3%] left-[78%] w-[15%] min-h-[4rem] flex flex-col items-center justify-center">
                    <p class="font-gyeonggibatangbold text-white text-[clamp(18px,4.5vw,20px)]"><%= sample.tenGodTable.headerRows[3]; %></p>
                </div>
                <div class="absolute top-[19.3%] left-[78%] w-[15%] min-h-[4rem] flex flex-col items-center justify-center">
                    <p class="font-gyeonggibatangbold text-white text-[clamp(18px,4.5vw,20px)]"><%= sample.tenGodTable.data[3][0]; %></p>
                </div>
                <div class="absolute top-[20.9%] left-[78%] w-[15%] min-h-[4rem] flex flex-col items-center justify-center">
                    <p class="font-gyeonggibatangbold text-white text-[clamp(18px,4.5vw,20px)]"><%= sample.tenGodTable.data[3][1]; %></p>
                </div>
                <div class="absolute top-[23.2%] left-[78%] w-[15%] min-h-[4rem] flex flex-col items-center justify-center">
                    <p class="font-gyeonggibatangbold text-white text-[clamp(18px,4.5vw,20px)]"><%= sample.tenGodTable.data[3][2]; %></p>
                </div>
                <div class="absolute top-[24.8%] left-[78%] w-[15%] min-h-[4rem] flex flex-col items-center justify-center">
                    <p class="font-gyeonggibatangbold text-white text-[clamp(18px,4.5vw,20px)]"><%= sample.tenGodTable.data[3][3]; %></p>
                </div>

                <!-- 오늘의 운세 -->
                <div class="absolute top-[40.5%] text-center w-[100%] min-h-[4rem] flex flex-col items-center justify-center">
                    <p class="font-gyeonggibatangbold text-white text-3xl mb-2"><%= userInfo.name; %> 님의</p>
                    <p class="font-gyeonggibatangbold text-white text-3xl"><%= todayDate.year; %>년 <%= todayDate.month; %>년 <%= todayDate.day; %>일 총운세</p>
                </div>
                <div class="absolute top-[45.5%] text-left ml-[10%] mr-[10%] w-[80%] min-h-[4rem] flex flex-col items-center justify-center">
                    <p class="font-gyeonggibatangbold  text-xl"><%= sample.todayLimit; %></p>
                </div>

            </div>

            <div class="z-50 max-w-md bottom-0 w-full bg-black text-white">
                <div class="flex justify-center items-center min-h-16 relative">
                    <form method="POST" action="/saju/payment">
                        <input type="hidden" name="userInfo" value='<%= JSON.stringify(userInfo) %>' />
                        <input type="hidden" name="sample" value='<%= JSON.stringify(sample) %>' />
                        <input type="hidden" name="goodsType" value='CLASSIC' />
                        <button type="submit"
                                class="">
                            <img src="/assets/images/tight/classic/result_banner.png" alt="정통사주 지금 받아보기" class="w-full h-auto object-contain" />
                        </button>
                    </form>
                </div>
                <div class="w-full" style="padding-bottom: env(safe-area-inset-bottom);"></div>
            </div>
        </div>

    </div>
</div>

<script>
  $(document).ready(function(){
    window.karrotPixel.track('Lead');
  });
</script>

</body>
</html>
